*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    max-height: 761px;
}
html{
    background-color: rgb(0, 0, 0);
}

body{
    width: 100%;
    min-height: 100vh;
}
/*caixa do conteúdo*/
section{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

/*caixa do background*/
section div.background-section{
    width: 100%;
    height: 100%;
    position: absolute;
}

/*configuração do vídeo*/
section div.background-section video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    filter: brightness(0.8);
}

/*configuração do conteúdo principal*/
section div.box{
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
    
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 2%;
}

/*caixa das redes sociais*/
section div.caixa{
    float: right;
    width: 20%;
    height: 100%;
    position: relative;
    z-index: 1;

    align-items: right;
    justify-content: right;
    padding: 4%;
    text-align: right;
    margin-top: 200px;
}

/*caixa do texto principal*/
section div#b2{
    width: 66%;
    height: 100%;
}

/*caixa da barra inferior*/
section div#b3{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.5);
}

/*linhas*/

/*Título*/
section div.box h1{
    color:rgb(255, 255, 255);
    font-size: 50px;
}

/*Subtítulo*/
section div.box h2{
    color:rgb(255, 123, 0);
    font-size: 33px;
}

/*redes sociais*/
section div.caixa p{
    color:rgb(255, 255, 255);
    font-size: 27px;
    margin-bottom: 70px;
}

/*links de redes sociais*/
section div.caixa a{
    font-size: 20px;
    z-index: 1;  
    color: rgb(255, 123, 0);
}

/*texto principal*/
section div.box p{
    color:rgb(255, 255, 255);
    font-size: 26px;
}

/*texto da barra inferior*/
section div.box a{
    color:rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 150px;
    text-align: center;
}

/*configs específicas de cada página*/

/*pg3*/
section div.box li{
    width: 100%;
    color:rgb(255, 255, 255);
    font-size: 26px;
    line-height: 80px;
}

/*pg4*/
    section div#b4{
    width: 50%;
    color:rgb(255, 255, 255);
    margin-top: 100px;
    line-height: 80px;
}
/*pg5*/
    section div#b5{
    width: 50%;
    color:rgb(255, 255, 255);
    margin-top: 70px;
    line-height: 80px;
}

/*/////////////////responsividade///////////////*/
/*/////////////////////Grandes///////////////////*/
@media (min-width: 1024px) and (max-width: 1366px) {
    
    /*Título*/
    section div.box h1{
        color:rgb(255, 255, 255);
        font-size: 43px;
    }

    /*Subtítulo*/
    section div.box h2{
        color:rgb(255, 123, 0);
        font-size: 25px;
    }

     /*caixa do texto principal*/
    section div#b2{
        width: 66%;
        height: 100%;
    }

    /*texto principal*/
    section div.box p{
        color:rgb(255, 255, 255);
        font-size: 22px;
    }

    /*caixa da barra inferior*/
    section div#b3{
        width: 100%;
        height: 70px;
        position: fixed;
        bottom: 0;
        z-index: 1;
        background-color: rgb(0, 0, 0, 0.5);
    }

    /*texto da barra inferior*/
    section div.box a{
        color:rgb(255, 255, 255);
        font-size: 16px;
        margin-left: 100px;
        text-align: center;
    }

    /*redes sociais*/
    section div.caixa{
        margin-top: 150px;
    }
    section div.caixa a{
        font-size: 18px;    
    }
    section div.caixa p{
        font-size: 25px;
        margin-bottom: 50px;
    }

    /*pg3*/
    section div.box li{
        width: 100%;
        color:rgb(255, 255, 255);
        font-size: 20px;
        line-height: 80px;
    }
   
    /*pg4*/
    section div#b4{
        width: 50%;
        color:rgb(255, 255, 255);
        margin-top: 90px;
        line-height: 80px;
    }
    /*pg5*/
        section div#b5{
        width: 50%;
        color:rgb(255, 255, 255);
        margin-top: 90px;
        line-height: 80px;
    }

}


/*/////////////////////Médias1///////////////////*/
@media (min-width: 800px) and (max-width: 960px) {
    
     /*caixa do título*/
    section div#b1{
        width: 100%;
        height: 100px;
        z-index: 1;
    }

    /*Título*/
    section div.box h1{
        color:rgb(255, 255, 255);
        font-size: 43px;
    }

    /*Subtítulo*/
    section div.box h2{
        color:rgb(255, 123, 0);
        font-size: 25px;
    }

     /*caixa do texto principal*/
    section div#b2{
        width: 66%;
        height: 100%;
    }

    /*texto principal*/
    section div.box p{
        color:rgb(255, 255, 255);
        font-size: 22px;
    }

    /*caixa da barra inferior*/
    section div#b3{
        width: 100%;
        height: 70px;
        position: fixed;
        bottom: 0;
        z-index: 1;
        background-color: rgb(0, 0, 0, 0.5);
    }

    /*texto da barra inferior*/
    section div.box a{
        color:rgb(255, 255, 255);
        font-size: 16px;
        margin-left: 80px;
        text-align: center;
    }

    /*redes sociais*/
    section div.caixa{
        margin-top: 150px;
    }
    section div.caixa a{
        font-size: 18px;    
    }
    section div.caixa p{
        font-size: 25px;
        margin-bottom: 50px;
    }

    /*pg3*/
    section div.box li{
        width: 100%;
        color:rgb(255, 255, 255);
        font-size: 20px;
        line-height: 80px;
    }
   
    /*pg4*/
    section div#b4{
        width: 50%;
        color:rgb(255, 255, 255);
        margin-top: 90px;
        line-height: 80px;
    }
    /*pg5*/
        section div#b5{
        width: 50%;
        color:rgb(255, 255, 255);
        margin-top: 90px;
        line-height: 80px;
    }

}

/*/////////////////////Médias2///////////////////*/
@media (min-width: 580px) and (max-width: 640px) {
    

     /*caixa do título*/
    section div#b1{
        width: 100%;
        height: 100px;
        z-index: 1;
    }

    /*Título*/
    section div.box h1{
        color:rgb(255, 255, 255);
        font-size: 30px;
    }

    /*Subtítulo*/
    section div.box h2{
        color:rgb(255, 123, 0);
        font-size: 20px;
    }

     /*caixa do texto principal*/
    section div#b2{
        margin-top: 100px;
        width: 66%;
        height: 100%;
    }

    /*texto principal*/
    section div.box p{
        color:rgb(255, 255, 255);
        font-size: 18px;
        line-height: 29px;
    }

    /*caixa da barra inferior*/
    section div#b3{
        width: 100%;
        height: 90px;
        position: fixed;
        bottom: 0;
        z-index: 1;
        background-color: rgb(0, 0, 0, 0.5);
        
    }

    /*texto da barra inferior*/
    section div.box a{
        color:rgb(255, 255, 255);
        font-size: 16px;
        text-align: left;
        margin-left: 20px;
    }

    /*redes sociais*/
    section div.caixa{
        margin-top: 180px;
    }
    section div.caixa a{
        font-size: 18px;    
    }
    section div.caixa p{
        font-size: 25px;
        margin-bottom: 30px;
    }

    /*pg3*/
    section div.box li{
        width: 100%;
        color:rgb(255, 255, 255);
        font-size: 20px;
        line-height: 50px;
    }
   
    /*pg4*/
    section div#b4{
        width: 50%;
        color:rgb(255, 255, 255);
        margin-top: 90px;
        line-height: 80px;
    }
    /*pg5*/
        section div#b5{
        width: 50%;
        color:rgb(255, 255, 255);
        margin-top: 90px;
        line-height: 80px;
    }

}


/*/////////////////////Pequenas///////////////////*/
@media (min-width: 320px) and (max-width: 580px) {
    
    
    /*caixa do título*/
    section div#b1{
        width: 100%;
        height: 100px;
        z-index: 1;
    }
    /*Título*/
    section div.box h1{
        color:rgb(255, 255, 255);
        font-size: 35px;
    }

    /*Subtítulo*/
    section div.box h2{
        color:rgb(255, 123, 0);
        font-size: 17px;
    }

     /*caixa do texto principal*/
    section div#b2{
        width: 80%;
        height: 100%;
        margin-top: 80px;
    }

    /*texto principal*/
    section div.box p{
        color:rgb(255, 255, 255);
        font-size: 16px;
    }

    /*caixa da barra inferior*/
    section div#b3{
        width: 100%;
        height: 70px;
        position: fixed;
        bottom: 0;
        z-index: 1;
        background-color: rgb(0, 0, 0, 0.5);
        margin-top: 90px;
    }

    /*texto da barra inferior*/
    section div.box a{
        color:rgb(255, 255, 255);
        font-size: 16px;
        margin-left: 10px;
        text-align: center;
    }

    /*redes sociais*/
    section div.caixa{
        margin-top: 250px;
    }
    section div.caixa a{
        font-size: 15px;    
    }
    section div.caixa p{
        font-size: 20px;
        margin-bottom: 30px;
    }

    /*pg3*/
    section div.box li{
        width: 100%;
        color:rgb(255, 255, 255);
        font-size: 16px;
        line-height: 50px;
    }
   
    /*pg4*/
    section div#b4{
        width: 50%;
        color:rgb(255, 255, 255);
        margin-top: 90px;
        line-height: 80px;
    }
    /*pg5*/
        section div#b5{
        width: 50%;
        color:rgb(255, 255, 255);
        margin-top: 90px;
        line-height: 80px;
    }

}