*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    height:100%;
}
html{
    background-color: rgb(0, 0, 0);
}

body{
    width: 100vw;
    min-height: 100vh;
    overflow:hidden;
}
/*///////////caixa ordinária///////////*/
section{
    width: 100vw;
    min-height: 100vh;
    position:relative;
}

/*///////////caixa do background///////////*/
section div.background-section{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

/*///////////configuração do vídeo///////////*/
section div.background-section video{
    position:absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.8);
}

/*///////////Caixa do título e do subtítulo///////////*/
section div#b1{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding: 2%;
    position: absolute;
}

/*///////////Título///////////*/
section div#b1 h1{
    color:rgb(255, 255, 255);
    font-size: 350%;
    height: 10%;
    justify-content: left; 
    max-width: 100%;  
    height: auto; 
    object-fit: contain;
}

/*///////////Subtítulo///////////*/
section div#b1 h2{
    color:rgb(255, 123, 0);
    font-size: 260%;
    justify-content: left; 
    max-width: 100%;  
    height: auto; 
    object-fit: contain;
}

/*///////////Conteudo principal///////////*/
section div#b2{
    display: flex;
    justify-content: left;
    z-index: 1;
    padding: 2%;
    width: 100vw;
    position: absolute;
    top:35%;
    left:0%;  
    color:rgb(255, 255, 255);
    font-size: 150%;
    height: 12%;
    flex-direction: column;
    
}

section div#b2 p{
    justify-content: left; 
    max-width: 100%;  
    height: auto; 
    object-fit: contain;
}

/*///////////caixa das redes sociais///////////*/
section div.caixa{
    position: absolute;
    display: flex;
    justify-content: right;
    justify-content: space-around;
    
    gap: 80%;
    height: 5%;
    width: 5%;
    margin-right: 10%;
    top:2%;
    right:2%;
    z-index: 1;

}

/*///////////redes sociais///////////*/
section div.caixa img{
    position: absolute;
    justify-content: right; 
    max-width: 100%;  
    height: auto; 
    width: 65%;
    object-fit: contain;
}

/*///////////caixa da barra inferior///////////*/
section div#b3{
    display: flex;
    width: 100vw;
    height: 13%;
    position: absolute;
    justify-content: center;
    justify-content: space-around;
    bottom: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 2%;
    gap: 3%;
    margin-right: 10%;

}

/*///////////texto da barra inferior///////////*/
section div.box a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 125%;
    justify-content: center; 
    max-width: 100%;  
    height: auto; 
    object-fit: contain;

}

/*////////////////////////////////////////////////////////configs específicas de cada página///////////////////////////////////////////////////////*/

/*///////////pg3///////////*/
section div.box ul{
    width: 100%;
    color:rgb(255, 255, 255);
    font-size: 100%;

    justify-content: left; 
    max-width: 100%;  
    height: auto; 
    object-fit: contain;

}

section div#b2 a{
    color:rgb(255, 123, 0);
    font-size: 100%;
    text-decoration: none;
    margin-left: 1%;

}

/*///////////pg4///////////*/
    section div#b2 h2{
    color: rgb(255, 123, 0);
    font-size: 100%;
    margin-right: 2%;
    margin-bottom: 2%;
    
}
    
